@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.title {
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  color: #333333;
  
}


/* Media */

@media (max-width:800px) {
  .App {
    padding: 0 1rem;
  }
}